/*#region UI: NavigationMenu */
.NavigationMenu {
  background: rgba(35, 11, 33, 0.95);
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  right: 0;
  min-height: 100%;
  padding: 2rem;
  position: fixed;
  text-align: center;
  top: 0;
  transform: translateX(100%);
  transition: transform 0.5s ease-in-out;
  width: 100vw;
  z-index: 99999;

  & p {
    color: white;
    cursor: pointer;
    font-size: 34px;
    font-weight: bold;
    letter-spacing: 2px;
    padding: 2rem 0;
    text-transform: capitalize;
    transition: color 0.3s linear;

    &:hover {
      color: #ff00e5;
    }
  }
}

.NavigationMenu__open {
  transform: translateX(0);
  transition: transform 0.5s ease-in-out;
}

/*#region Media Queries */
@media (max-width: 576px) {
  .NavigationMenu {
    width: 100vw;

    & p {
      font-size: 1.6rem;
      text-align: center;
    }
  }
}
/*#endregion /Media Queries */
/*#endregion /UI: NavigationMenu */
