/*#region Page: Home */
/*#region Section: Home */
.Home {
  align-items: flex-start;
  color: white;
  display: flex;
  flex-direction: column;
  margin: auto;
  min-height: 80vh;
  padding-top: 8rem;
  width: 70%;

  .Home__title {
    font-size: 48px;
    font-weight: bold;
  }

  .Home__information-container {
    height: auto;
    margin-top: 2rem;

    .Home__text {
      font-size: 24px;
      width: 70%;
    }

    .Home__cta-container {
      padding: 2rem 0 0 0;
      position: relative;
      z-index: 100;

      .Home__cta {
        align-items: center;
        background: white;
        border-radius: 40px;
        cursor: pointer;
        display: flex;
        height: 65px;
        justify-content: center;
        width: 180px;

        & span {
          color: #230b21;
          font-size: 24px;
          font-weight: 500;
        }
      }
    }
  }

  .Home__image {
    height: 410px;
    left: 450px;
    position: relative;
    bottom: 180px;
    transform: scale(1.1);
    width: 410.71px;
    z-index: 99;

    &::before {
      position: absolute;
    }

    & svg {
      animation: drop 1.5s ease-out;
    }
  }
}
/*#endregion /Section: Home */

.TopWave {
  height: 100%;
  margin-top: 0.2rem;
  position: relative;
  width: 100%;
  transform: rotate(180deg);
  z-index: 10000;

  & svg {
    position: absolute;
    top: 100%;
    z-index: 999;
  }
}

/*#region Section: Home__guide */
.Home__background {
  background-color: white;
  width: 100%;

  .Home__guide {
    align-items: flex-start;
    background-color: white;
    color: white;
    display: flex;
    flex-direction: column;
    margin: auto;
    min-height: 80vh;
    width: 70%;
    z-index: 999;

    .Home__guide-container {
      color: #230b21;
      margin: auto;
      padding: 4rem 0;
      width: 100%;

      & h2 {
        font-size: 40px;
      }

      & p {
        font-size: 24px;
        margin: 2rem 0;
        width: 70%;
      }

      .Home__guide-cta-container {
        padding: 1rem 0 0 0;
        position: relative;
        z-index: 101;

        .Home__guide-cta {
          align-items: center;
          background: #5d1f67;
          border-radius: 40px;
          cursor: pointer;
          display: flex;
          height: 65px;
          justify-content: center;
          width: 260px;

          & span {
            color: white;
            font-size: 24px;
            font-weight: 500;
          }
        }
      }
    }
  }
}

.Home__guide-image {
  height: 290px;
  right: 0;
  top: -160px;
  position: relative;
  width: 410.71px;
  z-index: 99;
  transform: rotate(20deg) scale(0.9) scaleX(-1);

  &::before {
    position: absolute;
  }

  & svg {
    animation: drop 1.5s ease-out;
  }
}
/*#endregion /Section: Home__guide */

.BottomWave {
  height: 100%;
  position: relative;
  width: 100%;

  & svg {
    position: absolute;
    top: 100%;
    z-index: 99;
  }
}

/*#region Section: Home__community */
.Home__community {
  background-color: #230b21;
  margin-top: 8rem;
  min-height: 50vh;
  z-index: 999;

  .Home__community-container {
    color: white;
    margin: auto;
    padding: 4rem 0;
    width: 70%;

    & h2 {
      font-size: 40px;
    }

    & p {
      font-size: 24px;
      margin: 2rem 0;
      width: 70%;
    }

    .Home__community-cta-container {
      padding: 1rem 0 0 0;
      position: relative;
      z-index: 100;

      .Home__community-cta {
        align-items: center;
        background: white;
        border-radius: 40px;
        cursor: pointer;
        display: flex;
        height: 65px;
        justify-content: center;
        width: 150px;

        & span {
          color: #230b21;
          font-size: 24px;
          font-weight: 500;
        }
      }
    }
  }
}

.Home__community-image {
  height: 380px;
  left: 1000px;
  top: 10px;
  position: relative;
  transform: scale(1.5) scaleX(-1);
  width: 410.71px;
  z-index: 99;

  &::before {
    position: absolute;
  }

  & svg {
    animation: drop 1.5s ease-out;
  }
}
/*#endregion /Section: Home__community */

@keyframes drop {
  0% {
    opacity: 0;
    transform: translateY(-80px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

/*#region Media Queries */
@media screen and (min-width: 1584px) {
  .Home {
    .Home__image {
      height: 410px;
      left: 650px;
      position: relative;
      bottom: 210px;
      transform: scale(1.2);
      width: 410.71px;
      z-index: 99;
    }
  }
}
@media screen and (max-width: 1584px) {
  .Home__community-image {
    height: 380px;
    left: 500px;
    top: 10px;
    position: relative;
    transform: scale(1.5) scaleX(-1);
    width: 410.71px;
    z-index: 99;
  }
}

@media screen and (max-width: 1024px) {
  .Home {
    flex-direction: column;
    padding-top: 2rem;
    width: 85%;

    .Home__information-container {
      .Home__text {
        width: 100%;
      }
    }

    .Home__image {
      height: 410px;
      left: 0;
      position: relative;
      top: -135px;
      transform: none;
      width: 410.71px;
      z-index: 99;

      &::before {
        position: absolute;
      }

      & svg {
        animation: drop 1.5s ease-out;
      }
    }
  }

  .Home__background {
    .Home__guide {
      width: 85%;

      .Home__guide-container {
        & p {
          width: 100%;
        }
      }
    }
  }

  .Home__guide-image {
    height: 290px;
    right: 210px;
    top: -160px;
    position: relative;
    width: 410.71px;
    z-index: 99;
    transform: none;

    &::before {
      position: absolute;
    }

    & svg {
      animation: drop 1.5s ease-out;
    }
  }

  .Home__community {
    margin-top: 2rem;

    .Home__community-container {
      width: 85%;

      & p {
        width: 100%;
      }
    }
  }

  .Home__community-image {
    height: 250px;
    left: 0;
    right: -10px;
    top: -60px;
    position: relative;
    transform: none;
    width: 410.71px;
    z-index: 99;

    &::before {
      position: absolute;
    }

    & svg {
      animation: drop 1.5s ease-out;
    }
  }
}
/*#endregion /Media Queries */
/*#endregion /Page: Home */
