/*#region: Page: KeyboardGuide */
/*#region Section: KeyBoardGuide */
a {
  color: #230b21;
}

.KeyboardGuide {
  background: white;
  color: #230b21;
  min-height: 80vh;
  padding-top: 8rem;
  width: 100%;

  .KeyboardGuide__container {
    margin: auto;
    width: 70%;

    .KeyboardGuide__title {
      font-size: 48px;
      font-weight: bold;
    }

    .KeyboardGuide__information-container {
      height: auto;
      margin-top: 2rem;

      .KeyboardGuide__text {
        font-size: 24px;
        padding: 2rem 0;
        width: 100%;

        &:last-child {
          padding-bottom: 4rem;
        }
      }

      & ul {
        list-style: none;
        margin-left: 4rem;
        padding: 2rem 0;

        & li {
          font-size: 22px;
          padding: 0.25rem 0;

          &:hover {
            cursor: pointer;
          }

          & span {
            padding-right: 1rem;
            transition: color 0.3s linear;
          }

          &:hover span {
            color: #ff00e5;
            transition: color 0.3s linear;
          }
        }
      }
    }
  }
}
/*#endregion /Section: KeyBoardGuide */

/*#region Section: KeyBoardTypes */
.KeyboardGuide__keyboard-types {
  background: #230b21;
  color: white;
  min-height: 80vh;
  width: 100%;

  .KeyboardGuide__keyboard-types-container {
    margin: auto;
    padding: 4rem 0;
    width: 70%;

    .KeyboardGuide__keyboard-types-title {
      font-size: 40px;

      &:hover {
        cursor: pointer;
      }

      & span {
        transition: color 0.3s linear;
      }

      &:hover span {
        color: #ff00e5;
        transition: color 0.3s linear;
      }
    }

    .KeyboardGuide__keyboard-types-information-container {
      height: auto;
      margin-top: 2rem;

      .KeyboardGuide__keyboard-types-text {
        font-size: 24px;
        padding: 2rem 0;
        width: 100%;
      }

      & ul {
        list-style: none;
        margin-left: 4rem;

        & li {
          align-items: center;
          display: flex;
          flex-wrap: wrap;
          font-size: 20px;
          height: auto;
          justify-content: flex-start;
          padding: 0.25rem 0;

          & i {
            padding-right: 1rem;
          }
        }
      }
    }
  }
}
/*#endregion /Section: KeyBoardTypes */

/*#region Section: PCBs */
.KeyboardGuide__pcbs {
  background: white;
  color: #230b21;
  min-height: 80vh;
  width: 100%;

  .KeyboardGuide__pcbs-container {
    margin: auto;
    padding: 4rem 0;
    width: 70%;

    .KeyboardGuide__pcb-title {
      font-size: 40px;

      &:hover {
        cursor: pointer;
      }

      & span {
        transition: color 0.3s linear;
      }

      &:hover span {
        color: #ff00e5;
        transition: color 0.3s linear;
      }
    }

    .KeyboardGuide__pcb-text-container {
      height: auto;
      margin-top: 2rem;

      .KeyboardGuide__pcb-text {
        font-size: 24px;
        padding: 2rem 0;
        width: 100%;
      }
    }
  }
}
/*#endregion /Section: PCBs */

/*#region Media Queries */
@media screen and (max-width: 1024px) {
  .KeyboardGuide {
    .KeyboardGuide__container {
      width: 85%;

      .KeyboardGuide__information-container {
        & ul {
          margin-left: 1rem;
          & li {
            & span {
              padding-right: 0.25rem;
            }
          }
        }
      }
    }
  }

  .KeyboardGuide__keyboard-types {
    .KeyboardGuide__keyboard-types-container {
      width: 85%;

      .KeyboardGuide__keyboard-types-information-container {
        & ul {
          margin-left: 1rem;

          & li {
            & i {
              padding-right: 0.25rem;
            }
          }
        }
      }
    }
  }

  .KeyboardGuide__pcbs {
    .KeyboardGuide__pcbs-container {
      width: 85%;
    }
  }
}
/*#endregion /Media Queries */
/*#endregion: /Page: KeyboardGuide */
